IS_LOCALHOST=false
PORT=3333
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=fakestore_user
DB_PASSWORD=
DB_NAME=fakestore_dev
DB_NAME_TEST=fakestore_test
DB_NAME_PRODUCTION=fakestore
DB_SSL=false
JWT_SECRET=
ENABLED_CORS=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
